
body{
    background: #f6f6f6;
    overflow-x: hidden;
    
}
h1#bar_top_home{
    background: linear-gradient(90deg,#70d467 0,#6fbbfa);    
    color: #8d849e;
    padding-left: 160px;
    height: 40px;
    margin: 0px;
    min-width: 1140px;
}
.container{
    min-width: 1140px;
}
small.number_of_count{
    padding: 010px 0px 0px 10px;
}
.bar_top{
    margin: 8px 0px;
}
.namespaces{
    background-color: orange;
    height: calc(100vh - 40px) ;
}
.namespaces img {
    display: block;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    background: #e89a2c;
    border-radius: 10px;
}
.rooms{
    background-color: blueviolet;
    height: calc(100vh - 40px);
    padding: 0px;
}
.rooms ul {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}
.rooms ul li {
    background: #8962d7;
    width: 100%;
    padding: 10px 30px;
    color: #FFF;
    text-shadow: 0px 0px 7px #3a1b5a;
}
.rooms ul li:hover{
    background: #8159d1;
    cursor: pointer;
}
.chats{
    height: calc(100vh - 40px);
    background-color: #FFF;
    position: relative;
}
.box_message{
    height: calc(100vh - 211px);
    overflow-y: auto;
}
.chats .type_chat{
    position: absolute;
    bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    right: 0px;
    background: #FFF;
    border-top: 1px solid #cbcbcb;
    width: 100%;
}
.icon_room{
    float: right;
    color: #f0f0f0;
    background-color: #9e9cf2;
    text-shadow: 0px 0px 7px #3a1b5a;
}
.text_message{
    width: 100% !important;
}
#count_all{
    margin-top: 20px;
    background: #bf8129;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 1px #870606;
}